<div class="timeline">
	<div class="timeline__block">
		<div class="timeline__bullet"></div>
		<div class="timeline__header">
  		<p class="timeline__timeframe">April 2018 - Present</p>
  		<img id="fadeshow1" class="ms-logo" alt="morganstanley-logo" src="{{ site.url }}{{ site.baseurl }}/assets/img/logos/morganstanley.svg">
  		<h3>Morgan Stanley</h3>
  		<h5>Technology Analyst</h5>
		</div>
		<div class="timeline__desc">
      <ul>
      	<li>Six-month industrial placement in the Application Delivery team</li>
      	<li>Created an anomaly detection tool using machine learning to monitor unwanted behaviour in the company’s load balancers & designed an internal web application</li>
      	<li>Improved both technical (python, data science) and soft (PM, communication) skills</li>
      </ul>
    </div>
  </div>
  <div class="timeline__block">
    <div class="timeline__bullet"></div>
    <div class="timeline__header">
      <p class="timeline__timeframe">June 2017 - August 2017</p>
      <img id="fadeshow2" class="icl-logo" alt="imperial-logo" src="{{ site.url }}{{ site.baseurl }}/assets/img/logos/imperial.svg">
      <h3>Imperial College UROP</h3>
      <h5>Reserch Intern</h5>
    </div>
    <div class="timeline__desc">  
      <ul>
        <li>8-week research placement supervised by Dr Christos-Savvas Bouganis and fully funded by BP UROP Scholarship</li>
        <li>Optimisation of Machine Learning algorithms applied to Image Recognition using Convolutional Neural Networks (CNNs)</li>
        <li>Investigated accuracy and robustness of CNNs under different quantisation levels</li>
      </ul>
    </div>
  </div>
  <div class="timeline__block">
    <div class="timeline__bullet"></div>
    <div class="timeline__header">
      <p class="timeline__timeframe">July 2016 - September 2016</p>
      <img id="fadeshow3" class="traventia-logo" alt="traventia-logo" src="{{ site.url }}{{ site.baseurl }}/assets/img/logos/traventia.png">
      <h3>Traventia</h3>
      <h5>Summer Intern</h5>
    </div>
    <div class="timeline__desc">
      <ul>
        <li>7-week internship at a tech start-up in the Travel & Leisure industry</li>
        <li>Redesigned and optimised the company’s AWS server infrastructure</li>
        <li>My work reduced the company’s monthly server costs by 40%</li>
      </ul>
    </div>
  </div>
</div>