<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          {% include logo.svg %}
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %}

          <form class="form-inline mt-2 mt-md-0 mb-1 mb-md-0" id="cse_{{ site.google_cse_id }}" action="/search/" role="search">
            <div class="input-group">
              <input class="form-control" type="text" id="q" name="q" placeholder="Search" aria-label="Search" autocapitalize="off" autocomplete="off" spellcheck="false">
              <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit"><span class="svg-icon icon-search svg-baseline" aria-hidden="true"><svg><use xlink:href="/assets/icons/icons.min.svg#icon-search"></use></svg></span></button>
          </span>
            </div>
          </form>

        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
