---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.home_hero_img }}" style="min-height: 35rem;">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.home_title | escape }}</h1>
        <p class="hero__meta"> I'm interested in data science, machine learning and start-ups.</p>
        <p class="hero__meta">Here you can find out more <a href="{{ site.url }}{{ site.baseurl }}/about-me">about me</a> or read my <a href="{{ site.url }}{{ site.baseurl }}/blog">data science blog</a>.</p>
        
      </div>
    </div>


    <main class="site__content">
      <section class="">
        <div class="container">

        </div>
      </section>
    </main>


    <!-- <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

          </div>
        </div>
      </section>
    </main> -->

    {% include footer.html %}

  </body>

</html>
